@import "./first-input.css";
@import "./second-input.css";

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.checkboxes-container {
  display: flex;
}
.checkboxes-heading {
  margin-right: 15px;
}
.input-wrapper {
  padding: 20px;
  background: #292929;
  border-radius: 20px;
  margin-left: 10px;
}
.input-heading {
  color: #20b7ff;
  box-shadow: 0 0 2px #6dd1ff, 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
  /* width: max-content; */
  border-radius: 10px;
  padding: 5px;
}
